
    <li id=<%=post._id%>>
         <% if (locals.user && locals.user.id==post.user.id){ %>
        <a class="delete-post-button" href="posts/delete/<%=post.id%>">X</a>
        <%}%>
        <p><%=post.content%></p>
        
        <small><%=post.user.name%></small>
        <%-  include('_comments'); -%>
    </li>

    
     
    
